{% extends 'shop/basic.html' %}


{% block title %} {{product.product_name}} {% endblock %}

{% block body %}

<div class="container my-3" >
    <form action="/shop/contact/" method="post">{% csrf_token %}


<h1><b>Contact Us!</b></h1><br>
  <h5>UserName⍟:</h5>
<div class="input-group mb-3">

  <br><br>

  <span class="input-group-text" id="basic-addon1">@</span>
  <input type="text" class="form-control" id="name" name="name" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>
<h5>UserEmail⍟:</h5>
<div class="input-group mb-3">

  <input type="text" class="form-control" id="email1" name='email' placeholder=" User Email " aria-label="Recipient's username" aria-describedby="basic-addon2">
  <span class="input-group-text" id="basic-addon2">@example.com</span>
</div>

  <div class="from-group">
     <label for="name"><b><h5>Mobile No:</h5></b></label>
    <input type="tel" class="form-control" id="phone" name='mobile' placeholder="User Mobile No." >
  </div>
  <br>

  <b><h5>Password⍟:</h5></b>
   <div class="mb-3">
    <label for="password" class="form-label"></label>
    <input type="password" class="form-control" id="password" name="password">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" name="box">
    <label class="form-check-label" for="password">Show Password</label>
  </div>


<b><h5>Intercourse⍟:</h5></b>
 <div class="from-group">

    <input type="radio"  id="male" name='r1'> <b>Male</b>
    <input type="radio" id="female" name='r1'> <b>Female</b>
  </div>
  <br>



<h5>Describe what you want to contact me for here⍟:</h5>
<div class="input-group">
  <span class="input-group-text">With textarea</span>
  <textarea class="form-control" id="textbox" name='desc' aria-label="With textarea" style="margin-top: 0px; margin-bottom: 0px; height: 108px;"></textarea>
</div><br><br>
   <button type="submit" class="btn btn-success">Contact Us</button>


        </form>
</div>

{% endblock %}